.jumbotron {
	background-color: #99d6ff;
}

.jumbotron h1 {
	font-weight: bold;
}

#meat {
	background-color: #ffb3b3;
}

#vegetable {
	background-color: #b3ff66;
}

#carbohydrate {
	background-color: #ffe066;
}

.form-controle {
	padding-left: 1rem;
	font-size: 1rem;
}