.jumbotron {
	background-color: #99d6ff;
	margin-bottom: 0px;
}

.jumbotron h1 {
	font-weight: bold;
}

#meat {
	background-color: #ffb3b3;
}

#vegetable {
	background-color: #b3ff66;
}

#carbohydrate {
	background-color: #ffe066;
}

#generate-meal {
	background-color: #84b3ff;
}

.form-controle {
	padding-left: 1rem;
	font-size: 1rem;
}

ul {
	padding-left: .5rem;
}

li {
	list-style: none;
	margin-left: 0px;
	font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
	.card {
		width: 18rem;
		margin: .5rem;
		height: 23rem;
	}

	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#generate-meal {
		width: 56rem;
		height: auto;
	}
}